[user]
	name = Igor Ribeiro
	email = igor-ribeiro@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJkLjxHDUN6wM2ODHAdIq8zMdJdnQ6+uAmInvlCGsieM
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
	ui = auto
[core]
	pager = less -r
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
